{{ define "main" }}
<div class="archive">
	<h2 class="p-name">{{ i18n "archive" }}</h2>
	{{ $list := ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
	{{ if gt (len $list) 0 }}
	<div class="archive-categories">
		<h3>{{ i18n "categories" }}</h3>
		<div class="category-buttons">
			{{ range $list }}
			<a href="{{ .Permalink }}" class="category-button">{{ .Title }}</a>
			{{ end }}
		</div>
	</div>
	{{ end }}
	<div class="full-archives h-feed">
		<h3>{{ i18n "full_post_list" }}</h3>
		{{ $list := (where .Site.Pages "Type" "post") }}
		{{ range $list }}

		<div class="archive-post h-entry">
			<div class="archive-post-meta">
				<a href="{{ .Permalink }}" class="u-url"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">{{ .Date.Format "2 Jan 2006" }}</time></a>
			</div>
			{{ if .Title }}
			<h4 class="archive-post-title p-name"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
			{{ end }}
			<div class="archive-post-summary p-summary">{{ .Summary | truncate 150 }}</div>
		</div>

		{{ end }}
	</div>

</div>
{{ end }}
