{{ define "main" }}
<div class="archive">
	<h2 class="p-name">{{ T "archive" }}</h2>
	{{ $list := ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
	{{ if gt (len $list) 0 }}
	<div class="archive-categories">
		<h3>{{ T "categories" }}</h3>
		<div class="category-buttons">
			{{ range $list }}
			<a href="{{ .Permalink }}" class="category-button">{{ .Title }}</a>
			{{ end }}
		</div>
	</div>
	{{ end }}
	<div class="full-archives h-feed">
		<h3>{{ T "full_post_list" }}</h3>
		{{ $list := (where .Site.Pages "Type" "post") }}
		{{ range $list }}

		<article class="post-preview h-entry {{ range .Params.categories }} {{ . | urlize | lower }}{{ end }}{{ if not .Title }} untitled-post{{ end }}">
			<header class="post-header">
				<a href="{{ .Permalink }}" class="post-date u-url"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "2 Jan 2006" }}</time></a>
			</header>
			
			{{ if .Title }}
			<h2 class="post-title p-name"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
			<div class="e-content">
				{{ .Summary | truncate 150 }}
				<p><a class="read-more" href="{{ .Permalink }}">{{ T "read_more" }} →</a></p>
			</div>
			{{ else }}
			<div class="e-content">
				{{ .Content }}
			</div>
			{{ end }}
			
			{{ if .Params.categories }}
			<ul class="post-tags">
				{{ range .Params.categories }} {{ $href := print (absURL "categories/") (urlize .) }}
				<li><a href="{{ $href }}">#{{ . }}</a></li>
				{{ end }}
			</ul>
			{{ end }}
		</article>

		{{ end }}
	</div>

</div>
{{ end }}
