<header class="blog-header">
	<div class="blog-title">
		<img src="{{ .Site.Author.avatar }}" alt="{{ .Site.Title }}" class="blog-avatar" width="64" height="64">
		<h1><a href="/">{{ .Site.Title }}</a></h1>
	</div>
	<nav class="blog-nav">
		<a href="/" class="nav-item">Home</a>
		{{ range .Site.Menus.main }}
		<a href="{{ .URL }}" class="nav-item">{{ .Name }}</a>
		{{ end }}
		{{ range .Site.Pages }}
		{{ if and (eq .Type "page") (.Params.menu) }}
		<a href="{{ .Permalink }}" class="nav-item">{{ .Title }}</a>
		{{ end }}
		{{ end }}
	</nav>
</header>